<%# <%= render "try_ui" %1> %>
<%# <%= content_tag :div, "", id: "frequency", data: {freq: frequency_data} %1> %>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Title</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>
  </thead> 
  <%= render @books %>
</table>
