@import "semantic-ui";

$gray: #DCDDDE;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

div.item.header > h2.ui.header > a {
  color: $gray;
  &:hover {
    color: lighten($gray, 30%);
  }
}

#footer {
  margin: 35px 0;
}

/* miscellaneous */
.special {
  padding: 0 !important;
}

div.header.item {
  padding-left: 0 !important;
}

div.inverted {
  border-radius: 0 !important;
}

main.ui.container {
  margin-top: 35px;
}

img {
  max-width: 100%;
}

img.thumb {
  max-width: 70px;
  height: auto;
}

#notes {
  background-color: #FFFFCC;
}
