// @import "bootstrap-sprockets";
// @import "bootstrap";
@import "semantic-ui";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.special {
  padding: 0 !important;
}

div.header.item {
  padding-left: 0 !important;
}

div.inverted {
  border-radius: 0 !important;
}

main.ui.container {
  margin-top: 35px;
}

img {
  max-width: 100%;
}

img.thumb {
  max-width: 70px;
  height: auto;
}
