<div class="ui inverted menu">
    <div class="ui container">
      <div class="header item">
        <h2 class="ui inverted grey header">Kindle Quotes</h2>
      </div>
        <%= link_to "Home", root_path, class: 'item'  %>
        <a class="item" href="/books">Books</a>
    </div>
</div>
