<div class="ui inverted menu">
    <div class="ui container">
      <div class="header item">
        <h2 class="ui inverted grey header"><%= link_to "Kindle Quotes", root_path %></h2>
      </div>
      <%= link_to "Quotes", quotes_path, class: 'item' %>
      <%= link_to "Blog", blog_path, class: 'item' %>
      <%= link_to "About", about_path, class: 'item' %>
    </div>
</div>
